* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2vmin;
}

body {
  width: 100%;
  height: 100vh;
  min-width: 320px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto min-content;
  font-family: Lato;
}

ul,
ol,
a {
  list-style: none;
  text-decoration: none;
}

/* header */

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  grid-row: 1/2;
}

/* header-topBar */

.topBar {
  padding: 3vmin 15vmin;
  background-color: #F0EAD6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vmin;
}

.mainLogo {
  width: 25vmin;
  height: auto;
}

.searchIcon {
  width: 2.5vmin;
  height: auto;
}

.topBar_rightIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vmin;
}

.cartIcon {
  width: 3vmin;
  height: auto;
}

.menuIcon {
  width: 3vmin;
  height: auto;
}

.topBar form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.topBar form input[type="text"] {
  width: 55vmin;
  height: 4vmin;
  border-radius: 5vmin;
  border: 1vmin solid transparent;
  padding: 0 1vmin;
  font-size: 2vmin;
  background-color: #343434;
  color: #F9F6EE;
}

/* header - nav */

nav {
  background-color: #F9F6EE;
  padding: 2vmin;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vmin;
}

nav ul li {
  position: relative;
}

nav >ul >li >a {
  color: #708090;
  font-size: 2.2vmin;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #36454f;
}

nav ul li .dropdown {
  background-color: rgba(249, 246, 238, 0.9);
  border-radius: 3vmin;
  padding: 2.5vmin;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4vmin;
  gap: 2vmin;
  width: 27vmin;
  height: 27vmin;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

nav ul li .dropdown a {
  color: #708090;
  /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); */
}

nav ul li:hover .dropdown {
  visibility: visible;
  opacity: 1;
}


/* main content */

.mainContent_home {
  width: 100%;
  height: auto;
  grid-row: 2/3;
  margin: 1vmin 0vmin;
}

.main {
  display: flex;
  flex-grow: 1;
  min-height: 15vmin;
}

.main img {
  padding: 1vmin 0vmin;
  width: 100%;
  height: 100%;
  max-width: 160vmin;
  max-height: 80vmin;
  object-fit: cover;
}

.mainContent_home div div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.subscribe {
  background-color: #F9F6EE;
  height: 30vmin;
  margin: 2vmin 0vmin;
  width: 100%;
  padding: 3vmin;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  font-size: 2.2vmin;
}

.subscribe>h1 {
  font-size: 6.5vmin;
  font-family: Limelight;
}

.subscribe form {
  display: flex;
  gap: 3vmin;
}

.subscribe form input[type="email"] {
  width: 41vmin;
  height: 4vmin;
  padding: 0 2vmin;
  border: none;
  border-radius: 5vmin;
  font-size: 2vmin;
  outline: none;
  background-color: #343434;
  color: #F9F6EE;
}


.subscribe-button {
  padding: 1vmin 2vmin;
  font-size: 2vmin;
  border: none;
  border-radius: 5vmin;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 5px 5px 20px rgba(178, 190, 181, 0.5);
}

.subscribe-button:hover {
  background-color: #F0EAD6;
}


/* footer */

footer {
  grid-row: 3/4;
  background-color: #343434;
  padding: 4vmin 10vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4vmin;
}

.footerLogo {
  width: 25vmin;
  height: auto;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
}

footer ul li a {
  color: #ffffff;
  font-size: 2.5vmin;
}

footer ul li img {
  width: 5vmin;
}