<footer>
  <a href="/index.html">
    <img class="footerLogo" src="/img/logo/second_logo.png" alt="white color logo">
  </a>
  <ul>
    <li><a href="#">Terms of Service</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  <ul>
    <li><a href="#"><img src="/img/icons/instagram.svg" alt="instagram icon"></a></li>
    <li><a href="#"><img src="/img/icons/youtube.svg" alt="youtube icon"></a></li>
    <li><a href="#"><img src="/img/icons/x.svg" alt="x icon"></a></li>
  </ul>
</footer>