<header>
  <div class="topBar">
    <a href="/index.html">
      <img class="mainLogo" src="/img/logo/main_logo.png" alt="black color main logo">
    </a>
    <form action="/search" method="GET">
      <img class="searchIcon" src="/img/icons/search.svg" alt="search icon">
      <input type="text" name="q" placeholder="Search GlowTone..." aria-label="Search">
    </form>
    <div class="topBar_rightIcons">
      <a href="#">
        <img class="cartIcon" src="/img/icons/cart.svg" alt="cart icon">
      </a>
      <a href="#">
        <img class="menuIcon" src="/img/icons/menu.svg" alt="hamburger menu">
      </a>
    </div>
  </div>
</header>
