nav {
  background-color: #F9F6EE;
  padding: 2vmin;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vmin;
}

nav ul li {
  position: relative;
}

nav >ul >li >a {
  color: #708090;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #36454f;
}

nav ul li .dropdown {
  background-color: rgba(249, 246, 238, 0.9);
  border-radius: 3vmin;
  padding: 2.5vmin;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4vmin;
  gap: 2vmin;
  width: 27vmin;
  height: 29vmin;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

nav ul li .dropdown a {
  color: #708090;
}

nav ul li:hover .dropdown {
  visibility: visible;
  opacity: 1;
}